* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62, 5%;
}

/*Navegación*/

.nav-link {
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-size: 1.1rem;
    font-weight: normal;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #D6BD9A;
}

.logo {
    background-image: url(../imagenes/logotablet.png);
    background-repeat: no-repeat;
    width: 225px;
    height: 120.72px;
    text-indent: -99999px;
    display: block;
    float: left;
    position: absolute;
    top: 1.4rem;
    left: 1.4rem;
    z-index: 2;
}

.navbar-toggler {
    background-color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 0.3rem;
}

/* Estilo general para enlaces y titulos */

a {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.8rem;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
}

p {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}


/* Html Index */

#portada {
    background-image: url(../imagenes/portadaHome.png);
    height: 35rem;
}

#portada p {
    color: white;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 2.9rem;
    clear: left;
    top: 15rem;
    left: 0;
    right: 0;
    position: absolute;
}

#portada p span {
    color: #D6BD9A;
}

.boton_menu {
    position: absolute;
    top: 19.5rem;
    background-color: #b39975;
    width: 9rem;
    padding: 0.3rem;
    border-radius: 0.3rem;
    margin-left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
}

.boton_menu:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}

#home_nosotros {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#home_nosotros-texto {
    width: 50%;
    justify-items: center;
    margin: 10% 7% 5% 3%;
}

#home_nosotros-img img {
    width: 93%;
    margin-left: 7%;
}

#home_nosotros-texto a {
    width: 9rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: 400;
    background-color: #b39975;
    padding: 0.3rem;
    border-radius: 0.3rem;
    display: inline-block;
    transition: 0.5s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
    position: relative;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}

#home_nosotros-texto a:hover {
    background-color: black;
}

#video video {
    margin-top: 5%;
}

#home_productos {
    margin: 7% 1.3rem 5% 1.3rem;
}

.home_productos-texto {
    text-align: center;
    margin: 0% 20%;
}

.home_productos-productos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 5%;
}

.home_productos-productos h3 {
    text-align: center;
}

.home_productos-productos img {
    border-radius: 10%;
    filter: drop-shadow(10px 10px 5px rgba(0, 0, 0, 0.23));
    margin-bottom: 10%;
    width: 100%;
    transition: 0.5s;
}

.home_productos-productos img:hover {
    transform: scale(1.1, 1.1);
}

#home_productos a {
    width: 9rem;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-weight: 400;
    background-color: #b39975;
    padding: 0.3rem;
    border-radius: 0.3rem;
    display: inline-block;
    transition: 0.5s;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.11);
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#home_productos a:hover {
    background-color: black;
    color: white;
    text-decoration: none;
}

.galeria {
    display: flex;
    flex-direction: row;
}

.galeria img {
    width: 25%;
}

/* Html Nosotros */

#portada_nosotros {
    background-image: url(../imagenes/portadoNosotros.png);
    height: 25rem;
}

#portada_nosotros p {
    color: white;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 2.9rem;
    clear: left;
    top: 11rem;
    left: 0;
    right: 0;
    position: absolute;
}

#portada_nosotros::before {
    content: url(../imagenes/linea.svg);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 14rem;
}

#nosotros {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#nosotros_img {
    margin: 5% 5% 5% 5%;
    width: 40%;
}

#nosotros_img img {
    width: 100%;
}


#nosotros_texto {
    margin: 5% 5% 5% 0%;
    text-align: center;
    width: 60%;
}

#nosotros_texto h1 {
    text-align: left;
}

#nosotros_texto p {
    text-align: left;
}

/* Html Menú */

#portada_menu {
    background-image: url(../imagenes/portadaMenu.png);
    height: 25rem;
}

#portada_menu p {
    color: white;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 2.9rem;
    clear: left;
    top: 11rem;
    left: 0;
    right: 0;
    position: absolute;
}

#portada_menu::before {
    content: url(../imagenes/linea.svg);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 14rem;
}

#menu_texto {
    margin: 10% 20% 5% 20%;
    text-align: center;
}

#menu_bg {
    background-image: url(../imagenes/menufondo.jpg);
    height: 40rem;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10%;
}

.menu_bg2 {
    background-image: url(../imagenes/menufondo2.jpg);
    height: 35rem;
    width: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#menu_lista {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.menu_lista2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#menu_lista article {
    background-color: rgba(255, 255, 255, 0.89);
    height: 30rem;
    width: 40%;
    text-align: center;
    margin-top: 6%;
    margin-bottom: 6%;
    padding: 2% 2%;
}

.menu_lista2 article {
    background-color: rgba(255, 255, 255, 0.89);
    height: 25rem;
    width: 90%;
    text-align: center;
    margin-top: 6%;
    margin-bottom: 6%;
    padding: 2% 25%;
}

.menu1::before {
    content: url(../imagenes/menu-salado.svg);
}

.menu2::before {
    content: url(../imagenes/menudulce.svg);
}

.menu3::before {
    content: url(../imagenes/menu-cafe.svg);
}

#menu_lista article h2 {
    font-size: 1.5rem;
    color: #b39975;
    margin: 1rem;
}

.menu_lista2 article h2 {
    font-size: 1.5rem;
    color: #b39975;
    margin: 0.5rem;
}


/* Html Productos */

#portada_productos {
    background-image: url(../imagenes/portadaProductos.png);
    height: 25rem;
}

#portada_productos p {
    color: white;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 2.9rem;
    clear: left;
    top: 11rem;
    left: 0;
    right: 0;
    position: absolute;
}

#portada_productos::before {
    content: url(../imagenes/linea.svg);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 14rem;
}

#productos_texto {
    margin: 10% 20% 5% 20%;
    text-align: center;
}

#productos_lista {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "Producto1 Medialuna"
        "Cupcake Producto2"
        "Producto3 Postre";
    justify-items: center;
}

#productos h2 {
    font-size: 1.4rem;
}

.prodTexto1 {
    grid-area: Producto1;
    text-align: right;
    position: relative;
    top: 25%;
    margin-left: 15%;
}

.prodImg1 {
    grid-area: Medialuna;
    justify-self: center;
}

.prodTexto2 {
    grid-area: Producto2;
    position: relative;
    top: 25%;
    margin-right: 15%;
}

.prodImg2 {
    grid-area: Cupcake;
}

.prodTexto3 {
    grid-area: Producto3;
    text-align: right;
    position: relative;
    top: 25%;
    margin-left: 15%;
}

.prodImg3 {
    grid-area: Postre;
}

#productos p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
}

#productos #productos_lista p {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

#productos img {
    width: 100%;
}

/* Html Contacto */

#portada_contacto {
    background-image: url(../imagenes/portadaContacto.png);
    height: 25rem;
}

#portada_contacto p {
    color: white;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 2.9rem;
    clear: left;
    top: 11rem;
    left: 0;
    right: 0;
    position: absolute;
}

#portada_contacto::before {
    content: url(../imagenes/linea.svg);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 14rem;
}

#contacto {
    margin: 6rem 10% 0rem 10%;

}

#contacto h1 {
    text-align: center;
    margin: 1rem;
}

#contacto p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    text-align: center;
}

.formulario {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.formulario form {
    width: 60%;
    margin: 2rem 20%;
}

.formulario form button {
    background-color: #b39975;
    border: none;
}

.formulario form button:hover {
    background-color: black;
}

#sucursales h2 {
    text-align: center;
    margin: 6rem 1.5rem 4rem 1.5rem;
}

#sucursales h3 {
    text-align: center;
    margin: 1rem;
}

#sucursales p {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    text-align: center;
}

#sucursales {
    width: 100%;
    margin-bottom: 10rem;
}

.card-deck {
    margin: 1rem 5% 5rem 5%;
}


/* Footer */


footer {
    background-color: black;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

.footer_logo {
    margin-top: 2.5rem;
}

footer img {
    margin: 1.5rem;
}

.footer_redes {
    margin: 2rem 1.5rem;
    width: 16rem;
    justify-self: end;
}

.footer_redes p {
    color: #B5966A;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
}

.footer_redes img {
    margin: 1rem 0.5rem;
    position: relative;
    left: 2rem;
}

/* Media query */

@media only screen and (max-width: 992px) {
    .nav-link {
        font-size: 1rem;
        padding: .7rem 1rem;
    }

    .bg-transparent {
        background-color: black !important;
        z-index: 1;
    }

    .logo {
        background-image: url(../imagenes/logobarra.svg);
        top: 1.2rem;
    }

    #nosotros_img {
        margin: 5% 5% 5% 5%;
        width: 45%;
    }

    #nosotros_texto {
        margin: 5% 5% 5% 0%;
        text-align: center;
        width: 55%;
    }

    #nosotros_texto p {
        font-size: 0.9rem;
    }
}


@media screen and (max-width: 768px) {
    #home_nosotros {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    #home_nosotros-img img {
        width: 93%;
        margin-left: 7%;
    }

    #home_nosotros-texto {
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    .home_productos-productos article {
        margin: 0% 5%;
    }

    .home_productos-productos {
        margin: 3%;
    }

    .home_productos-productos h3 {
        font-size: 1rem;
    }

    #nosotros {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #nosotros_img {
        margin: 10% 20% 5% 20%;
        width: 60%;
    }

    #nosotros_texto {
        margin: 5% 10% 5% 10%;
        text-align: center;
        width: 80%;
    }

    #nosotros_texto h1 {
        text-align: center;
    }

    #nosotros_texto p {
        text-align: center;
    }

    #menu_bg {
        height: 55rem;
    }

    #menu_lista {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    #menu_lista article {
        background-color: rgba(255, 255, 255, 0.89);
        height: 23rem;
        width: 90%;
        text-align: center;
        margin-top: 7%;
        margin-bottom: 0%;
        padding: 2% 2%;
        margin-left: 5%;
    }

    .menu_lista2 article {
    padding: 5% 15%;
}
    
    #menu_lista article h2 {
        font-size: 1.3rem;
        color: #b39975;
        margin: 0.5rem;
    }

    #productos #productos_lista p {
        font-size: 0.95rem;
    }

    #contacto p {
        font-size: 1rem;
    }

    .formulario form {
        width: 90%;
        margin: 2rem 5%;
    }
}

@media screen and (max-width: 576px) {

    #portada_nosotros p {
        font-size: 2.3rem;
        top: 11.5rem;
    }

    #portada_menu p {
        font-size: 2.3rem;
        top: 11.5rem;
    }

    #portada_productos p {
        font-size: 2.3rem;
        top: 11.5rem;
    }

    #portada_contacto p {
        font-size: 2.3rem;
        top: 11.5rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    #portada p {
        font-size: 2rem;
    }

    .boton_menu {
        top: 18.5rem;
        font-size: 0.8rem;
        padding: 0.4rem;
    }

    .home_productos-texto {
        margin: 0% 5% 7% 5%
    }

    .home_productos-productos {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: center;
    }

    .home_productos-productos img {
        width: 60%;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .home_productos-productos h3 {
        font-size: 1.2rem;
    }

    #home_productos a {
        font-size: 0.8rem;
        padding: 0.4rem;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }
    
    
    .menu_lista2 article {
    padding: 5% 2%;
}

    #productos_lista {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr 2fr 1fr 2fr 1fr;
        grid-template-areas:
            "Medialuna"
            "Producto1"
            "Cupcake"
            "Producto2"
            "Postre"
            "Producto3";

        justify-items: center;
    }

    .prodTexto1 {
        text-align: center;
        margin-right: 4rem;
        top: 5%;
    }

    .prodTexto2 {
        text-align: center;
        margin-right: 4rem;
        margin-left: 4rem;
        top: 5%;
    }

    .prodTexto3 {
        text-align: center;
        margin-right: 4rem;
        top: 5%;
    }

    .card-deck {
        margin: 1rem 15% 5rem 15%;
    }

    footer {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
    }

    .footer_logo {
        justify-self: center;
        margin: 4rem 0rem 0rem 0rem
    }

    .footer_redes {
        justify-self: center;
    }
