footer {
    background-color: $negro;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;

    img {
        margin: 1.5rem;
    }

    .footer_logo {
        margin-top: 2.5rem;
    }

    .footer_redes {
        margin: 2rem 1.5rem;
        width: 16rem;
        justify-self: end;

        p {
            color: $beige;
            font-family: $titulos;
            font-weight: 500;
            font-size: 1rem;
            text-align: center;
        }

        img {
            margin: 1rem 0.5rem;
            position: relative;
            left: 2rem;
        }
    }
}
